body {
  background-color: #1a1a1a;
  font-family: courier;
  color: #fff;
}
.nav-wrapper {
  background-color: pink;
  border: solid 2px #000;
}
.nav-wrapper a {
  margin-left: 10px;
  font-size: 1em;
  width: 100%;
}

.recipes {
    background-color: #1a1a1a;
    height: 30vh;
    width: 20vw;
    border: 2px solid #fff;
    margin: auto;
    align-items: justify;
    background-size: cover;
}

.headers{
    height: 10vh;
    background-color: black;
}