body {
  background-color: #1a1a1a;
  font-family: courier;
  color: #fff;
}
.nav-wrapper {
  background-color: pink;
  border: solid 2px #000;
}
.nav-wrapper a {
  margin-left: 10px;
  font-size: 1em;
}

.brand-logo {
    position: fixed;
}
.recipes {
    background-color: #1a1a1a;
    height: 30vh;
    width: 20vw;
    border: 2px solid #fff;
    margin: auto;
    align-items: justify;
    background-size: cover;
}

.headers{
    height: 10vh;
    background-color: black;
}

#add_step {
 
  background-color: pink;
}

#add_ingredient {

  background-color: pink;
}

#add_recipe {
  background-color: pink;
  font-family: courier;
}
.container-fluid {
  width: 80vw;
}

.row {
  padding-top: 10px;
}

h1 {
  font-family: courier;
  color: #fff;
}