<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gusto | Modern International Cuisine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <header>
      <nav>
        <div class="nav-wrapper col s12">
          <a href="index.html" class="brand-logo">Gusto | Modern Internation Cuisine</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="col s12"><a href="recipes.html">Recipes</a></li>
            <li class="col s12"><a href="cuisines.html">Cuisines</a></li>
            <li class="col s12"><a href="authors.html">Authors</a></li>
          </ul>
        </div>
      </nav>
    </header>
     <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
        <div class="input-field col s6">
          <input id="photo_link" type="text" class="validate">
          <label for="photo_link">Photo Link</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <input id="ingredients" type="text" class="validate">
          <label for="password">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="amount" type="text" class="validate">
          <label for="amount">Amount</label>
        </div>
      </div>
     <a class="waves-effect waves-light btn-small">Add Ingredient</a>
    </form>
  </div>
  <div class="row">
        <div class="input-field col s12">
          <input id="author" type="text" class="validate">
          <label for="author">Author</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="author" type="text" class="validate">
          <label for="author">Author</label>
        </div>
      </div>
      <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Cuisine</option>
      <option value="1">French</option>
      <option value="2">Italian</option>
      <option value="3">Spanish</option>
      <option value="4">Chinese</option>
      <option value="5">Thai</option>
      <option value="6">Japanese</option>
    </select>
    <label>Cusine</label>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script> 
         document.addEventListener('DOMContentLoaded', function() {
         var elems = document.querySelectorAll('select');
         var instances = M.FormSelect.init(elems, options);
         });
    </script>
        </body>
        </html>