<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Gusto | Modern International Cuisine</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Custom Stylesheet -->
      <link rel="stylesheet" href="../static/css/index_style.css" type="text/css">
   </head>
   <body>
      <div class="container">
         <a href="recipes.html"><img class="responsive-img" id="bg-img" src="../static/img/cookbook6.jpg" alt="cookbook"></a>
         <div class="row" id="headings">
            <div class="input-field col s6">
               <a href="recipes.html"><h4>Gusto</h4></a>
               <p>Modern International Cuisine</p>
            </div>
         </div>
    
      </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="/static/js/scripts.js"></script>
   </body>
</html>
