<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gusto | Modern International Cuisine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Gusto | Modern Internation Cuisine</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Recipes</a></li>
            <li><a href="badges.html">Cuisines</a></li>
            <li><a href="collapsible.html">Authors</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
        {% block content %}{% endblock %}


   <div class="footer-copyright fixed-bottom">
     <div class="container">
       <div class="row center-align copyright">
          <p>&copy; 2019 Stephen Blair</p>
        </div>
      </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
