<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gusto | Modern International Cuisine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">Gusto | Modern Internation Cuisine</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="recipes.html">Recipes</a></li>
            <li><a href="cuisines.html">Cuisines</a></li>
            <li><a href="authors.html">Authors</a></li>
          </ul>
        </div>
      </nav>
    </header>
<body>
	<script>
 	$(document).ready(function(){
 		$('.materialbox').materialbox();
 		
 	});
    </script>

    <!-- Image Gallery -->

    <div class="container ">
  	<h1>Recipes</h1>

  	<div class="row card">
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>


  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  	
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>


  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  	
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		<div class="col s12 m6 l4">
  			<img src="../static/img/food1.jpg" class="materialbox responsive-img card">
  		</div>
  		
  	 </div>

  </div>


	
</body>
</html>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
